@* @model IEnumerable<HR_Platform.Models.EmployeeTraining>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingProgram)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingProgram.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@
@model IEnumerable<HR_Platform.Models.EmployeeTraining>

<h2>Employee Trainings</h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Training Program</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var training in Model)
        {
            <tr>
                <td>@training.Employee?.FullName</td>
                <td>@training.TrainingProgram?.ProgramName</td>
                <td>
                   @*  <!-- Buton pentru înscriere -->
                    <button onclick="enrollUser(@training.TrainingProgramID)" class="btn btn-primary">
                        Enroll
                    </button> *@

                    <a asp-action="Edit" asp-route-id="@training.EmployeeID" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-employeeId="@training.EmployeeID" asp-route-trainingProgramId="@training.TrainingProgramID" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }

    </tbody>
</table>


